<!DOCTYPE html>
<html>
<head>
<title>500错误</title>
<meta http-equiv="keywords">
<meta http-equiv="description">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="./css/sea-404page.css">
</head>
<body>

	<div class="error">
		<span>服务器出问题了...</span><span>500</span>我们建议您
        <span onclick="window.location.href='./index.html'"><a href="javascript:;">返回主页</a></span>
	</div>
	<div class="sun"></div>
	<div class="clouds">
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class="birds"></div>
	<div class="sea">
		<div class="wave w-1"></div>
		<div class="wave w-2"></div>
		<div class="fish">
			<span></span><span></span><span></span>
		</div>
	</div>
	<div class="bottom">
		<div class="grass">
			<span> </span><span> </span><span> </span>
		</div>
		<div class="grass">
			<span> </span><span> </span><span> </span>
		</div>
		<div class="grass">
			<span> </span><span> </span><span> </span>
		</div>
		<div class="grass">
			<span> </span><span> </span><span> </span>
		</div>
		<div class="circle">
			<span></span><span></span><span></span><span></span><span></span>
		</div>
		<div class="circle">
			<span></span><span></span><span></span><span></span><span></span>
		</div>
		<div class="circle">
			<span></span><span></span><span></span><span></span><span></span>
		</div>
		<div class="circle">
			<span></span><span></span><span></span><span></span><span></span>
		</div>
		<div class="grass_tw"></div>
		<div class="grass_tw"></div>
		<div class="grass_tw"></div>
	</div>

</body>
</html>